:root {
  /* summary color set */
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* gradient color set */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* text color set */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --Light-gray: hsl(243, 34%, 79%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.overall {
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: space-evenly;
  color: white;
  margin-top: 0;
  padding: 12px;
}
.round {
  background: linear-gradient(
    45deg,
    var(--Violet-blue-circle),
    var(--Persian-blue-circle)
  );
  height: 150px;
  width: 150px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--Light-lavender);
  box-shadow: 3px 3px 3px 0px var(--Dark-gray-blue);
  margin: 8px;
}
.round h1 {
  font-size: 4rem;
  margin: 0;
  color: var(--White);
}

.footer {
  text-align: center;
  color: var(--Light-gray);
  max-width: 50%;
}
.footer h1 {
  color: var(--White);
}

.breakdown {
  background-color: var(--White);
  padding-left: 5%;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
  border-radius: 10px;
  margin: 2%;
  min-width: 250px;
}
.card span {
  display: flex;
}
.reaction {
  color: #f55;
  background: rgba(255, 85, 85, 0.15);
}
.memory {
  color: #ffb21e;
  background: rgba(255, 176, 30, 0.153);
}
.verbal {
  color: #00bb8f;
  background: hsla(166, 100%, 37%, 0.15);
}
.visual {
  color: #1125d6;
  background: hsla(234, 85%, 45%, 0.155);
}
.button {
  border-radius: 20px;
  background: linear-gradient(hsl(241, 81%, 54%), hsl(241, 81%, 54%));
  padding: 8px;
  color: white;
  min-width: 250px;
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(hsl(241, 81%, 54%), hsl(241, 81%, 54%));
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile: 375px */
/* Desktop: 1440px */
@media all and (min-width: 600px) {
  body {
    justify-content: center;
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .overall {
    border-radius: 20px;
  }
}
